/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Variables */
:root {
  --primary-font: 'Kumbh Sans', serif;
}

/* Reset Styles */
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: var(--primary-font);
  background-color: #dbf9fc;
}
